// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#shto-veture{
    margin: 0 0 1rem 0;
}

#alertat{
    margin-top: 1rem;
}

#info-tick,#danger-tick,#success-tick{
    font-size: 13px;
}

.close:focus{
    outline: none !important;
}

.modal-title{
    color: white !important;
}

.navbar-brand{
    font-weight: bolder;
}